.carousel {
    border: none;
    width: 100%;
    max-width: 800px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(50%) sepia(90%) saturate(2000%) hue-rotate(358deg);
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #ffe9cc;
  }
  
  .carousel-indicators .active {
    background-color: var(--primary-orange);
  }

  .carousel-item img {
    height: 100%;
    max-height: 480px;
  }

@media  (max-width:480px) {
  .carousel-item img {
    height: 180px;
  }
}

  