html, body {
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
  
section {
    scroll-snap-align: start;
    min-height: 100vh; /* fill screen */
}

section.snap {
    scroll-snap-align: start;
    min-height: 100vh;
  }
  
  