.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    border-radius: 12px;
    background: #111;
    color: white;
    border: 1px solid #222;
  }
  
.active-card {
    border: 2px solid var(--energy-purple);
    box-shadow: 0 0 14px rgba(111, 0, 255, 0.61);
}
  
.tech-preview {
    font-size: 0.9rem;
    opacity: 0.85;
}
  